*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f9fd;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.beranda{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    min-height: 100vh;
}

.judul{
    /* margin: 5vw; */
    max-width: 600px;
}

.judul h1{
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 4.167em;
    line-height: 60pt;
    color: #04565c;
    /* background-color: tomato; */
}

.judul p{
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 1.417em;
    line-height: 25pt;
    color: black;
    /* background-color: tomato; */
}

.logo{
    /* margin: 5vw; */
    width: fit-content;
    /* background-color: tomato; */
}

.logo img{
    max-width: 450px;
}

.halaman-emagz{
    margin: 10px;
    text-align: center;
}