*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 100%;
}

body{
    background-color: #f6f9fd;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.beranda{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 84px;
    min-height: 100vh;
}

.judul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.judul h1{
    max-width: 580px;
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 3.1em;
    line-height: 1.4;
    color: #04565c;
    /* background-color: tomato; */
}

.judul p{
    max-width: 446px;
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 1.05em;
    line-height: 1.47;
    color: #04565c;
    /* background-color: tomato; */
}

.logo{
    /* margin: 5vw; */
    width: fit-content;
    /* background-color: tomato; */
}

.logo img{
    max-width: 350px;
}

.halaman-emagz{
    margin: 10px;
    text-align: center;
}