*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f6f9fd;
    display: flex;
    justify-content: center;
}

.beranda{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.judul{
    margin: 5vw;
    width: 40vw;
    background-color: tomato;
}

.judul h1{
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-size: 50pt;
    line-height: 60pt;
    color: #04565c;
}

.judul p{
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 17pt;
    color: black;
}

.logo{
    margin: 5vw;
    background-color: tomato;
}

.logo img{
    width: 25vw;
}